<div class="container d-flex align-items-center justify-content-center" style="min-height: 100vh">
  <div class="d-flex flex-column justify-content-between">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="card card-default mb-0">

          <div class="card-header pb-0">
            <div class="app-brand d-flex justify-content-start" style="align-items: center">
              <a class="w-auto pl-0" href="/index.html" style="margin-right: 10px">
                <img src="https://seeklogo.com/images/P/puc-goias-logo-06AD67F0EA-seeklogo.com.png" alt="PUC" width="100%" height="75">
              </a>
              <span class="brand-name text-dark">Pontifícia Universidade Católica de Goiás</span>
            </div>
          </div>

          <div class="card-body px-5 pb-5 pt-0">

            <h4 class="text-dark mb-6 text-center">Grupos</h4>

            <div style="min-width: 750px">
              <table class="table table-product" style="width:100%">
                <thead>
                  <tr>
                    <th style="width: 15px">Código</th>
                    <th class="text-center px-3">Nome</th>
                    <th class="text-center" style="width: 50px">Deletar</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let grupo of grupos">
                    <td class="text-primary">
                      <a [routerLink]="['/grupos', grupo.codigo]">
                        {{ grupo.codigo }}
                      </a>
                    </td>
                    <td class="text-left px-3">{{ grupo.nome }}</td>
                    <td class="text-center">
                      <i class="bi bi-trash"
                         (click)="deletarGrupo(grupo)"
                         style="cursor: pointer; color: red;"></i>
                    </td>
                  </tr>
                </tbody>

              </table>
              <div class="card-header align-items-start justify-content-start">
                <a [routerLink]="['/grupos', 'novo']"
                   class="btn btn-primary btn-pill mr-3"
                   data-toggle="modal"
                   data-target="#modal-stock">
                  Cadastrar Novo Grupo
                </a>

                <a [routerLink]="['', ]"
                   class="btn btn-outline-smoke btn-pill mb-4">
                  voltar
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
