.posicionar-palavra {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.posicionar-botao-proximo {
  display: flex;
  align-items: end;
  justify-content: center;
}

.posicionar-imagem {
  background-color: red;
  height: 100%;
  width: 100%;
}

.simple-keyboard {
  font-size: 1.5em;
}

.simple-keyboard.hg-theme-default .hg-button {
  height: 110px;
}

.teste {
  z-index: 9999;
  top: 0;
  left: 0;
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  align-items: end;
  margin-bottom: 10px;
  justify-content: center;
  pointer-events: none;
}

.posicionar-button {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 100%;
}
