<div class="card-body px-5 pb-5 pt-0">

  <h4 class="text-dark mb-6 text-center">Ordem Das Palavras</h4>

  <div style="min-width: 750px">
    <table class="table table-product" style="width:100%">
      <thead>
        <tr>
          <th style="width: 15px">Código</th>
          <th class="text-center px-3">Descrição</th>
          <th class="text-center" style="width: 50px">Deletar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ordemDaPalavra of ordemDaPalavras">
          <td class="text-primary">
            <a [routerLink]="['/ordem-das-palavras', ordemDaPalavra.codigo]">
              {{ ordemDaPalavra.codigo }}
            </a>
          </td>
          <td class="text-center px-3">{{ ordemDaPalavra.descricao }}</td>
          <td class="text-center">
            <i class="bi bi-trash"
               (click)="deletarOrdem(ordemDaPalavra)"
               style="cursor: pointer; color: red;"></i>
          </td>
        </tr>
      </tbody>

    </table>
    <div class="card-header align-items-start justify-content-start">
      <a [routerLink]="['/ordem-das-palavras', 'novo']"
         class="btn btn-primary btn-pill mr-3"
         data-toggle="modal"
         data-target="#modal-stock">
        Cadastrar Nova Ordem
      </a>

      <a [routerLink]="['', ]"
         class="btn btn-outline-smoke btn-pill mb-4">
        voltar
      </a>
    </div>

  </div>
</div>
