<div *ngIf="!iniciarPesquisa">
  <div *ngIf="perguntas.length === 0">
    <span>{{ 'Carregando informações, espere a liberação para o participante.' }}</span>
    <div class="col-md-12 mt-6 text-center">
      <a [routerLink]="['/grupos', 'abrir']"
         class="btn btn-outline-smoke btn-pill mb-4">
        voltar
      </a>
    </div>
  </div>

  <div *ngIf="perguntas.length !== 0">
    <span>Todas as instruções estão na tela</span>
    <div class="col-md-12 mt-6 text-center">
      <button class="btn btn-primary btn-pill mb-4"
              (click)="iniciar()"
              type="submit">
        INICIAR
      </button>
    </div>
  </div>

</div>
