<div *ngIf="loading">
  CARREGANDO
</div>

<div *ngIf="!loading"
     class="container d-flex align-items-center justify-content-center"
     style="min-height: 100vh">
  <div class="d-flex flex-column justify-content-between">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="card card-default mb-0">

          <div class="card-header pb-0">
            <div class="app-brand w-100 d-flex justify-content-start border-bottom-0">
              <a class="w-100 pl-0" href="/index.html">
                <img alt="PUC" height="75" src="https://seeklogo.com/images/P/puc-goias-logo-06AD67F0EA-seeklogo.com.png">
                <span class="brand-name text-dark">Pontifícia Universidade Católica de Goiás</span>
              </a>
            </div>
          </div>

          <div class="card-body px-5 pb-5 pt-0">

            <h4 class="text-dark mb-6 text-center">Grupos</h4>

            <form (submit)="onSubmit($event)"
                  [formGroup]="form">
              <div class="row">
                <div class="form-group col-md-12 mb-4">
                  <input class="form-control input-lg"
                         formControlName="nome"
                         id="nome"
                         placeholder="Nome"
                         type="text">
                  <div *ngIf="form.get('nome')?.invalid && form.get('nome')?.touched">
                    <small *ngIf="form.get('nome')?.hasError('required')" class="text-danger">Descrição é obrigatória.</small>
                    <small *ngIf="form.get('nome')?.hasError('minlength')" class="text-danger">Mínimo de 10 caracteres.</small>
                  </div>
                </div>

                <div class="form-check">
                  <div class="custom-control custom-checkbox mr-3 mb-3 col-md-12">
                    <input type="checkbox"
                           formControlName="isMostrarImagem"
                           class="custom-control-input"
                           id="isMostrarImagem">
                    <label class="custom-control-label" for="isMostrarImagem">Mostrar Imagem</label>
                  </div>
                </div>

                <div class="form-check">
                  <div class="custom-control custom-checkbox mr-3 mb-3 col-md-12">
                    <input type="checkbox"
                           formControlName="isMostrarImagemPrimeiro"
                           class="custom-control-input"
                           id="isMostrarImagemPrimeiro">
                    <label class="custom-control-label" for="isMostrarImagemPrimeiro">Mostrar Imagem Primeiro</label>
                  </div>
                </div>

                <div class="col-md-12">
                  <button class="btn btn-primary btn-pill mb-4"
                          style="margin-right: 15px"
                          type="submit">
                    {{ codigo ? 'Atualizar' : 'Cadastrar' }}
                  </button>

                  <a [routerLink]="['/grupos', 'abrir']"
                     class="btn btn-outline-smoke btn-pill mb-4">
                    voltar
                  </a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
