<div class="card-body px-5 pb-5 pt-0">

  <h4 class="text-dark mb-6 text-center">Tela Inicial</h4>

  <div style="min-width: 750px">
    <div class="card-header align-items-end">
      <a [routerLink]="['/palavras', 'abrir']"
         class="btn btn-primary btn-pill"
         data-toggle="modal"
         data-target="#modal-stock">
        Palavras
      </a>
      <a [routerLink]="['/ordem-das-palavras', 'abrir']"
         class="btn btn-smoke btn-pill"
         data-toggle="modal"
         data-target="#modal-stock">
        Ordem das Palavras
      </a>
      <a [routerLink]="['/grupos', 'abrir']"
         class="btn btn-info-dark btn-pill"
         data-toggle="modal"
         data-target="#modal-stock">
        Grupos
      </a>
    </div>
  </div>
</div>
